body {
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(46, 46, 56);

    height: 1500px; /* ВРЕМЕННО */
}

/* Header */


header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;

    border-radius: 10px;
    background-color: rgb(40, 40, 50);
}
.header__logo {
    display: flex;

    margin: 20px;
}
.header__logo img {
    margin: auto 0;
    border-radius: 50%;
    border: 2px white solid;
}
.header__logo__text {
    width: 144px;
    margin: auto 10px;

    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 5px;

    padding: 2px 0;
    color: white;
    font-weight: bold;
}

.nav {
    display: flex;
    height: 40px;
    width: 90px;
    margin: auto;
    background-color: rgb(40, 40, 50);
    margin-left: 20px;

}
a.nav__link {
    color: rgb(173, 181, 189);
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: auto 5px;
    border-radius: 6px;
    font-weight: bold;
}
a.nav__link.active, a.nav__link:hover {
    background-color: rgb(77, 80, 95);
    border-radius: 6px;
    transition: 0.5s;
    color: white;
}

a.a_logo {
    text-decoration: none;
    margin: auto;
}
a.a_logo .header__logo__text {
    margin-bottom: 4px;
}

.acc__icon {
    display: flex;
}
.acc {
    display: flex;

}
.header__icon img {
    border-radius: 50%;

    margin: 10px 20px;
}

.buy__pro a {
    text-decoration: none;

    color: rgb(0, 175, 245);
    background-color: rgb(77, 80, 95);

    padding: 10px 10px;

    border-radius: 6px;

    font-weight: bold;
}
.buy__pro a:hover {
    color: aliceblue;

    background-color: rgb(0, 175, 245);
}
.buy__pro {
    margin: auto 15px;
}